# -----------------------------------
# .gitignore file for coek repository
# -----------------------------------
# ignore top level build directory
/build/

_build
/.vs
/out/build
__pycache__
*egg-info
*.gcov
