name: Linux Build and Tests

on:
  workflow_dispatch:
  push:
    branches: [ main, dev, public, private ]
  pull_request:
    branches: [ main, dev, public, private ]

jobs:

  coek-simple-build:
    runs-on: ubuntu-latest
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3
      - name: run cmake
        run: |
          mkdir build
          cd build
          cmake -Dinstall_all_tpls=OFF -Dwith_python=OFF ..
      - name: build
        run: |
          cd build
          make
          
  coek-build-and-test-with-tpls:
    runs-on: ubuntu-latest
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3
      - name: run cmake
        run: |
          mkdir build
          cd build
          cmake -Dwith_python=OFF -Dwith_tests=ON ..
      - name: build
        run: |
          cd build
          make install_tpls
          make
      - name: test
        run: |
          cd build
          make test

  coek-build-and-test-with-pycoek:
    runs-on: ubuntu-latest
    #needs: coek-build-and-test-with-tpls
    defaults:
      run:
        shell: bash -l {0}
    steps:
      - uses: actions/checkout@v2
      - uses: conda-incubator/setup-miniconda@v2
        with:
          activate-environment: test
          python-version: 3.8
          auto-activate-base: false
      - name: install python packages
        run: |
            conda install -y pytest numpy
      - name: run cmake
        run: |
          conda activate test
          conda install -y pytest pyutilib
          mkdir build
          cd build
          cmake -Dwith_tests=ON ..
      - name: build
        run: |
          cd build
          make install_tpls
          make
      - name: test
        run: |
          cd build
          make test
        
